# Wrangling of the Dataset "Spam and Ham"

In [1]:
import numpy as np
import pandas as pd
import matplotlib
import csv
import scipy.stats
import matplotlib.pyplot as plt

In [2]:
#importing a file and manipilating data
file = 'spam_ham_dataset.csv'
df = pd.read_csv(file ) # setting a column 'label' as index
df.set_index('label')

       Count                                               text  label_num
label
ham      605  Subject: enron methanol ; meter # : 988291\nth...          0
ham     2349  Subject: hpl nom for january 9 , 2001\n( see a...          0
ham     3624  Subject: neon retreat\nho ho ho , we ' re arou...          0
spam    4685  Subject: photoshop , windows , office . cheap ...          1
ham     2030  Subject: re : indian springs\nthis deal is to ...          0
...      ...                                                ...        ...
ham     1518  Subject: put the 10 on the ft\nthe transport v...          0
ham      404  Subject: 3 / 4 / 2000 and following noms\nhpl ...          0
ham     2933  Subject: calpine daily gas nomination\n>\n>\nj...          0
ham     1409  Subject: industrial worksheets for august 2000...          0
spam    4807  Subject: important online banking alert\ndear ...          1

[5171 rows x 3 columns]

### All codes to be tested just for my notes

In [34]:

#results = df[['text', 'Count', 'label_num']]
#df.rename(columns = {'':'Count'}, inplace = True)
#df2= df.pivot_table(index='label',columns='Count', values='label_num')
#df.columns=['label', 'text','Count','label_num']
#df2= df.melt(['text', 'Count'],['label','label_num'],'ham','spam')        #(frame=df, id_vars='label')
#df2 = df.unstack()
#df.insert(1, "Ham", [0], True) 
#df.insert(5, "Spam", [1], True) 
#df2.head()
#df.query(label=='1')
#classics = {'ham': '0', 'spam': '1'}
#df['classics'] = classics 
#df['Classification'] = pd.Series(np.random.randn(sLength), index=df.index)
#plot1 = file.groupby('label_num').label.value_counts(normalize= True)
#plot2 = file.groupby(['ham','spam']).text.value_counts(normalize= True)

### output

In [53]:
print(df.columns)
print(df.head())
#print(df2)
#print(results) - if needed to print columns order changed for better readability
#df2= pd.melt(['label', 'text'],['Count','label_num'],'ham','spam')

Index(['label', 'text', 'Count', 'label_num'], dtype='object')
   label  text                                              Count  label_num
0    605   ham  Subject: enron methanol ; meter # : 988291\nth...          0
1   2349   ham  Subject: hpl nom for january 9 , 2001\n( see a...          0
2   3624   ham  Subject: neon retreat\nho ho ho , we ' re arou...          0
3   4685  spam  Subject: photoshop , windows , office . cheap ...          1
4   2030   ham  Subject: re : indian springs\nthis deal is to ...          0

## exploratory data analysis

In [54]:
#print(df['label'].value_counts(dropna=False))
#print(df['label_num'].value_counts(dropna=False))

# # Data Wrangling  techniques

In [55]:
# checking number of columns and rows
print(df.shape)

(5171, 4)

In [56]:
# checking for duplicates
df.duplicated('label_num')

0       False
1        True
2        True
3       False
4        True
        ...
5166     True
5167     True
5168     True
5169     True
5170     True
Length: 5171, dtype: bool

In [ ]:
#printing first 5 rows
print(df.head())

In [ ]:
#exploring  what data types and if any missing values
print(df.info())

In [ ]:
# changing a datatype from 'object' to 'category'
df.label = df.label.astype('category')

In [ ]:
 #double checking if datatype is changed
print(df.info())

In [ ]:
#Coerce the errors to NaN by specifying the keyword argument errors='coerce' this is just my notes

In [ ]:
#this supposed to drop duplicates
#tracks_no_duplicates = df.drop_duplicates()
#print(tracks_no_duplicates.info())

In [ ]:
# testing with assert statement if I have null values
assert pd.notnull(df).all().all()

In [33]:

#df2.columns = ['Ham', 'Spam']
#df2.columns.name = 'label'

## statistics

In [ ]:
print(df.describe())