# House Sale Prices Regression

These house types are designed for the US and Canada . All of these house properties are related to a price. Which property is most or less expensive?All of these correlation are good to observe which is what I am going to do in this project.Whatever it takes: far from a highway, far from a mall? What does really impact on a price or what is optimal price, or is there an outlier? I am going to answer these question doing some research and statistics in this project.

In [1]:
import pandas as pd
import matplotlib
import csv
import numpy as np
import scipy.stats
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
file =  '/Users/egoretc/Desktop/'
#file2 =  '/Users/egoretc/Desktop/'
#df = pd.read_csv(file + 'sample_submission.csv', error_bad_lines=False) 
#df2 = pd.read_csv(file + 'test.csv', error_bad_lines=False) 
df3 = pd.read_csv(file + 'train.csv', error_bad_lines=False) 
#df4 = pd.read_csv(file2 + 'data_description.txt', error_bad_lines=False) 
#df5= df.melt(['text', 'Count'],['label','label_num'],'ham','spam')        #(frame=df, id_vars='label')
#df5 = df3.unstack()
#df6= df3.pivot_table(index='SalePrice',columns='Street', values='LotFrontage')
print(df3)
#print(df4)
#print(df5)

        Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
0        1          60       RL         65.0     8450   Pave   NaN      Reg
1        2          20       RL         80.0     9600   Pave   NaN      Reg
2        3          60       RL         68.0    11250   Pave   NaN      IR1
3        4          70       RL         60.0     9550   Pave   NaN      IR1
4        5          60       RL         84.0    14260   Pave   NaN      IR1
...    ...         ...      ...          ...      ...    ...   ...      ...
1455  1456          60       RL         62.0     7917   Pave   NaN      Reg
1456  1457          20       RL         85.0    13175   Pave   NaN      Reg
1457  1458          70       RL         66.0     9042   Pave   NaN      Reg
1458  1459          20       RL         68.0     9717   Pave   NaN      Reg
1459  1460          20       RL         75.0     9937   Pave   NaN      Reg

     LandContour Utilities  ... PoolArea PoolQC  Fence MiscFeature MiscVal  \
0            Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1            Lvl    AllPub  ...        0    NaN    NaN         NaN       0
2            Lvl    AllPub  ...        0    NaN    NaN         NaN       0
3            Lvl    AllPub  ...        0    NaN    NaN         NaN       0
4            Lvl    AllPub  ...        0    NaN    NaN         NaN       0
...          ...       ...  ...      ...    ...    ...         ...     ...
1455         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1456         Lvl    AllPub  ...        0    NaN  MnPrv         NaN       0
1457         Lvl    AllPub  ...        0    NaN  GdPrv        Shed    2500
1458         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1459         Lvl    AllPub  ...        0    NaN    NaN         NaN       0

     MoSold YrSold  SaleType  SaleCondition  SalePrice
0         2   2008        WD         Normal     208500
1         5   2007        WD         Normal     181500
2         9   2008        WD         Normal     223500
3         2   2006        WD        Abnorml     140000
4        12   2008        WD         Normal     250000
...     ...    ...       ...            ...        ...
1455      8   2007        WD         Normal     175000
1456      2   2010        WD         Normal     210000
1457      5   2010        WD         Normal     266500
1458      4   2010        WD         Normal     142125
1459      6   2008        WD         Normal     147500

[1460 rows x 81 columns]

### output

In [3]:
print(df3.columns)

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [4]:
df3.columns = df3.columns.to_series().fillna("Missing")

In [5]:
#exploring  what data types and if any missing values
df3 = df3.reindex(sorted(df3.columns), axis=1)
print(df3.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
1stFlrSF         1460 non-null int64
2ndFlrSF         1460 non-null int64
3SsnPorch        1460 non-null int64
Alley            91 non-null object
BedroomAbvGr     1460 non-null int64
BldgType         1460 non-null object
BsmtCond         1423 non-null object
BsmtExposure     1422 non-null object
BsmtFinSF1       1460 non-null int64
BsmtFinSF2       1460 non-null int64
BsmtFinType1     1423 non-null object
BsmtFinType2     1422 non-null object
BsmtFullBath     1460 non-null int64
BsmtHalfBath     1460 non-null int64
BsmtQual         1423 non-null object
BsmtUnfSF        1460 non-null int64
CentralAir       1460 non-null object
Condition1       1460 non-null object
Condition2       1460 non-null object
Electrical       1459 non-null object
EnclosedPorch    1460 non-null int64
ExterCond        1460 non-null object
ExterQual        1460 non-null object
Exterior1st      1460 non-null object
Exterior2nd      1460 non-null object
Fence            281 non-null object
FireplaceQu      770 non-null object
Fireplaces       1460 non-null int64
Foundation       1460 non-null object
FullBath         1460 non-null int64
Functional       1460 non-null object
GarageArea       1460 non-null int64
GarageCars       1460 non-null int64
GarageCond       1379 non-null object
GarageFinish     1379 non-null object
GarageQual       1379 non-null object
GarageType       1379 non-null object
GarageYrBlt      1379 non-null float64
GrLivArea        1460 non-null int64
HalfBath         1460 non-null int64
Heating          1460 non-null object
HeatingQC        1460 non-null object
HouseStyle       1460 non-null object
Id               1460 non-null int64
KitchenAbvGr     1460 non-null int64
KitchenQual      1460 non-null object
LandContour      1460 non-null object
LandSlope        1460 non-null object
LotArea          1460 non-null int64
LotConfig        1460 non-null object
LotFrontage      1201 non-null float64
LotShape         1460 non-null object
LowQualFinSF     1460 non-null int64
MSSubClass       1460 non-null int64
MSZoning         1460 non-null object
MasVnrArea       1452 non-null float64
MasVnrType       1452 non-null object
MiscFeature      54 non-null object
MiscVal          1460 non-null int64
MoSold           1460 non-null int64
Neighborhood     1460 non-null object
OpenPorchSF      1460 non-null int64
OverallCond      1460 non-null int64
OverallQual      1460 non-null int64
PavedDrive       1460 non-null object
PoolArea         1460 non-null int64
PoolQC           7 non-null object
RoofMatl         1460 non-null object
RoofStyle        1460 non-null object
SaleCondition    1460 non-null object
SalePrice        1460 non-null int64
SaleType         1460 non-null object
ScreenPorch      1460 non-null int64
Street           1460 non-null object
TotRmsAbvGrd     1460 non-null int64
TotalBsmtSF      1460 non-null int64
Utilities        1460 non-null object
WoodDeckSF       1460 non-null int64
YearBuilt        1460 non-null int64
YearRemodAdd     1460 non-null int64
YrSold           1460 non-null int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB
None

In [6]:
#printing first 5 rows

print(df3.head())

   1stFlrSF  2ndFlrSF  3SsnPorch Alley  BedroomAbvGr BldgType BsmtCond  \
0       856       854          0   NaN             3     1Fam       TA
1      1262         0          0   NaN             3     1Fam       TA
2       920       866          0   NaN             3     1Fam       TA
3       961       756          0   NaN             3     1Fam       Gd
4      1145      1053          0   NaN             4     1Fam       TA

  BsmtExposure  BsmtFinSF1  BsmtFinSF2  ... SaleType ScreenPorch  Street  \
0           No         706           0  ...       WD           0    Pave
1           Gd         978           0  ...       WD           0    Pave
2           Mn         486           0  ...       WD           0    Pave
3           No         216           0  ...       WD           0    Pave
4           Av         655           0  ...       WD           0    Pave

   TotRmsAbvGrd TotalBsmtSF  Utilities WoodDeckSF YearBuilt YearRemodAdd  \
0             8         856     AllPub          0      2003         2003
1             6        1262     AllPub        298      1976         1976
2             6         920     AllPub          0      2001         2002
3             7         756     AllPub          0      1915         1970
4             9        1145     AllPub        192      2000         2000

  YrSold
0   2008
1   2007
2   2008
3   2006
4   2008

[5 rows x 81 columns]

In [19]:
#df3.fillna(value="None")
df3.fillna(df3.Alley.median())

TypeError: could not convert string to float: 'Grvl'

## Exploratory data analysis

In [17]:
print(df3.PoolQC.head(inpalce = True))

TypeError: head() got an unexpected keyword argument 'inpalce'

In [9]:
print(df3['LotFrontage'].value_counts(dropna=False))
print(df3['LotArea'].value_counts(dropna=False))

NaN      259
60.0     143
70.0      70
80.0      69
50.0      57
        ...
106.0      1
38.0       1
138.0      1
140.0      1
137.0      1
Name: LotFrontage, Length: 111, dtype: int64
7200     25
9600     24
6000     17
10800    14
9000     14
         ..
7094      1
6130      1
9337      1
5232      1
8190      1
Name: LotArea, Length: 1073, dtype: int64

#  Data Wrangling  techniques

In [10]:
# checking number of columns and rows
print(df3.shape)

(1460, 81)

In [11]:
# checking number of columns and rows
print(df3.shape)

(1460, 81)

In [12]:
# checking for duplicates
df3.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1455    False
1456    False
1457    False
1458    False
1459    False
Length: 1460, dtype: bool

In [13]:
# testing with assert statement if I have null values
assert pd.notnull(df3).all().all()

AssertionError:

In [ ]:
#Finding quartiles of SalePrice
df3.SalePrice.quantile([0.25,0.5,0.75])

In [ ]:
#IQR = 75th percentile-25th percentile
IQR = 214000.0-129975.0

In [ ]:
1.5*IQR

In [ ]:
#Any number less than this is a suspected outlier.
163000.0-126037.5

In [ ]:
#Any number less than this is a suspected outlier.
163000.0+126037.5