In [1]:
import pandas as pd
import matplotlib
import csv
import numpy as np
import scipy.stats
import matplotlib.pyplot as plt
import seaborn as sns

#data = [['Alex',80],['Bob',90],['Clarke',95]]
#studentdf = pd.DataFrame(data,columns=['Student','Score'])
Subjects= ['Math','Science', 'Social']
#studentdf
students = [('Stuti', 82, 78, 100), 
            ('Saumya', 92, 89, 90), 
            ('Aaditya', 78, 95, 88), 
             ] 
# Create a DataFrame object from list  
studentdf = pd.DataFrame(students,  
                columns =['Student', 'Math',  
               'Social', 'Science'])

In [2]:
studentdf

   Student  Math  Social  Science
0    Stuti    82      78      100
1   Saumya    92      89       90
2  Aaditya    78      95       88

In [3]:
studentdf.Math.max()

92

In [14]:
studentdf['Subject']  =  Subjects

In [4]:
Topper1 = int(studentdf.Math.max())

In [2]:
max(studentdf)

'Student'

In [5]:
Topper2 = int(studentdf.Social.max())

In [6]:
Topper3 = int(studentdf.Science.max())

In [6]:
Topper = pd.concat([Topper1, Topper2, Topper3])

In [8]:
df1=studentdf.loc[(studentdf.==Topper),  'Student']
df1

1    Saumya
Name: Student, dtype: object

In [4]:
if studentdf.Student:
            Topper = True
            break
    return Topper

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 4)

In [5]:
indices = np.where(diag == diag.max())[0]  
print('Number of clubs: {0}'.format(diag.max()))
print('People with the most number of memberships:')
for i in indices:
    print('- {0}'.format(people_nodes[i]))

NameError: name 'diag' is not defined

In [6]:
df2=studentdf.loc[(studentdf.Social==Topper2),  'Student']
df2

NameError: name 'Topper2' is not defined

In [12]:
studentdf['Topper']  = studentdf.loc[(studentdf == Topper),  'Student']

In [40]:
studentdf['Topper'] = Topper

In [15]:
# itertuples() yields an iterate to named tuple
for row in studentdf.itertuples(name='Student'):
   # Convert named tuple to dictionary
   dictRow = row._asdict()
  
   # Access elements from dict i.e. row contents
   print(dictRow['Subject'] , ' is from ' , dictRow['Topper'])

Math  is from  nan
Science  is from  Saumya
Social  is from  nan

In [16]:
for (columnName, columnData) in studentdf.iteritems(): 
    print('Colunm Name : ', columnName) 
    print('Column Contents : ', columnData.values)

Colunm Name :  Student
Column Contents :  ['Stuti' 'Saumya' 'Aaditya']
Colunm Name :  Math
Column Contents :  [82 92 78]
Colunm Name :  Social
Column Contents :  [78 89 95]
Colunm Name :  Science
Column Contents :  [100  90  88]
Colunm Name :  Topper
Column Contents :  [nan 'Saumya' nan]
Colunm Name :  Subject
Column Contents :  ['Math' 'Science' 'Social']

In [43]:
for column in studentdf[['Subject', 'Topper']]: 
     
    # Select column contents by column    
    # name using [] operator 
    columnSeriesObj = Topper
    print('Colunm Name : ', column) 
    print('Column Contents : ', columnSeriesObj)

Colunm Name :  Subject
Column Contents :  Student     Stuti
Math           92
Social         95
Science       100
Subject    Social
dtype: object
Colunm Name :  Topper
Column Contents :  Student     Stuti
Math           92
Social         95
Science       100
Subject    Social
dtype: object

In [26]:
# using iteritems() function to retrieve rows 
for key, value in studentdf.iteritems(): 
    print(key, value) 
    print()

Student 0      Stuti
1     Saumya
2    Aaditya
Name: Student, dtype: object

Math 0    82
1    92
2    78
Name: Math, dtype: int64

Social 0    78
1    89
2    95
Name: Social, dtype: int64

Science 0    100
1     90
2     88
Name: Science, dtype: int64

Topper 0       NaN
1    Saumya
2       NaN
Name: Topper, dtype: object

Subject 0       Math
1    Science
2     Social
Name: Subject, dtype: object

In [36]:
for key, value in studentdf.items():
     # If value satisfies the condition, then store it in new_dict
        if value == studentdf.max():
            new_dict[key] = value

new_dict

ValueError: Can only compare identically-labeled Series objects

In [27]:
df11=studentdf.loc[(studentdf.Student==Topper1),  'Subject']
df11

Series([], Name: Subject, dtype: object)

In [28]:
df12=studentdf.loc[(studentdf.Student==Topper2),  'Subject']
df12

Series([], Name: Subject, dtype: object)

In [29]:
df13=studentdf.loc[(studentdf.Student==Topper3),  'Subject']
df13

Series([], Name: Subject, dtype: object)

In [19]:
df3=studentdf.loc[(studentdf.Science==Topper3),  'Student']
df3

0    Stuti
Name: Student, dtype: object

In [31]:
studentdf['Subject']  =  pd.concat([df13,df12,df11])

In [23]:
studentdf['Topper'] = pd.concat([df2,df1,df3])

In [42]:
Topper

Student     Stuti
Math           92
Social         95
Science       100
Subject    Social
dtype: object

In [41]:
studentdf[['Subject', 'Topper']]

   Subject Topper
0     Math    NaN
1  Science    NaN
2   Social    NaN